<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>知乎-有问题，就有答案</title>
    <link rel="stylesheet"  href="../css/index.css" />

</head>
<body>
<header class="top">
    <div class="head">知乎</div>
    <div class="classification">
        <div>首页</div>
        <div>会员</div>
        <div>发现</div>
        <div>等你来答</div>
    </div>

    <div class="search">
        <input type="text" class="search-content" >
        <button class="search-icon">
            <img src="../imgs/search.png">
        </button>
        <ul>
        </ul>
    </div>

    <div class="accessibility">无障碍</div>

    <button class="login loginBtn">登录</button>

</header>
<header class="bottom">
    <ul>
        <li class="main">综合</li>
        <li>用户</li>
        <li>话题</li>
        <li>视频</li>
        <li>学术</li>
        <li>专栏</li>
        <li>严选内容</li>
        <li>电子书</li>
        <li>圈子</li>
    </ul>
    <div class="screen">筛选</div>
</header>

<nav>
    <div class="searchDiscovery">搜索发现</div>
    <ul class="recommend">
        <li>法国 2022 年总统选举一轮投票</li>
        <li>2022五一放假调休共 5 天</li>
        <li>四川航空回应飞行员发布仇恨言论</li>
        <li>11日起广州中小学停课停考</li>
        <li>中美疾控中心专家发布香港死亡病例数据</li>
        <li>民航局回应东航坠机传言</li>
        <li>昆明新增 1 例系专升本考试学生</li>
        <li>上海最大家用氧企业停产</li>
        <li>微信农场</li>
        <li>面包车撞兰博基尼被起诉</li>
    </ul>
</nav>

<aside>
    <ul>
        <li>刘看山知乎指南知乎协议知乎隐私保护指引</li>
        <li>应用工作</li>
        <li>侵权举报网上有害信息举报专区</li>
        <li>京 ICP 证 110745 号</li>
        <li>京 ICP 备 13052560 号 - 1</li>
        <li>京公网安备 11010802020088 号</li>
        <li>互联网药品信息服务资格证书</li>
        <li>（京） - 非经营性 - 2017 - 0067</li>
        <li>服务热线：400-919-0001</li>
        <li>举报邮箱：jubao@zhihu.com</li>
        <li>儿童色情信息举报专区</li>
        <li>信息安全漏洞举报专区</li>
        <li>内容从业人员违法违规行为举报</li>
        <li>证照中心Investor Relations</li>
        <li>联系我们 @2022 知乎</li>
    </ul>

</aside>

<aside class="old">
    <button></button>
</aside>

<main>
    <section>
        <div class="head">奥密克戎毒株叒变异了！这次的新变种比德尔塔克戎更厉害？</div>
        <div class="content hide">
            <div>Omicron毒株的BA.1型和BA.2型的“内部重组”的XE毒株厉害吗？先说结论：需要警惕的是，它可能会表现出更快的传播速度，但因为目前样本量过小，还不能轻易的下这个结论。当局正在检测3个跟Omicron相关的突变重组毒株，分别命名为XD，XF和XE。[1]先来回顾一个概念，什么叫病毒重组。当一个地区有多重毒株传播的时候，就会出现一个人同时感染了不同的毒株，而这些毒株在入侵人体细胞，进行复制的过程中，很可能会发生张冠李戴的现象，这样不同的病毒在同一个细胞里就可能出现交换相同位置的基因组</div>
            <img src="../imgs/figure6.png">
            <div>XD变异毒株隶属于DeltaAY.4分型下，这种Delta毒株获得了Omicron的BA.1的S蛋白突变，也就是我们之前说的德尔塔克戎毒株。根据在公库GISAID上搜索结果显示，目前只有49个样本符合XD的定义，最早报告日期来自于2021年的12月13日，最新报告来自于2022年3月17日。其中主要来自于法国（40例），8个来自于丹麦，一个来自于比利时。另一种XF毒株，也是来自于Delta和Omicron的BA.1的重组，其中主要重组的位置点在非结构性蛋白NSP3的末端附近。这个突变毒株最早在2022年1月7日于英国发现，最后发现于2022年2月14日，在此之后，并没有新的数据报告，同时GISAID数据库中也没有非英国国家的报告数据，所以据此判断XF毒株不太可能传播起来。</div>
        </div>
        <div class="read">阅读全文 ﹀</div>
        <div class="bottom">
            <button class="like loginBtn">赞同<span class="has_like">1</span></button>
            <button class="dislike loginBtn"></button>
            <button class="comment">添加评论</button>
            <div class="releaseDate">04-01</div>
        </div>
    </section>
    <section>
        <div class="head">全球传来坏消息！奥密克戎再次变异，西方彻底放弃，显得很兴奋</div>
        <div class="content hide">
            <div>全球传来坏消息！奥密克戎再次变异，西方彻底放弃，显得很兴奋</div>
            <img src="../imgs/video.png">
        </div>
        <div class="read">阅读全文 ﹀</div>
        <div class="bottom">
            <button class="like loginBtn">赞同<span class="has_like">1</span></button>
            <button class="dislike loginBtn"></button>
            <button class="comment">添加评论</button>
            <div class="releaseDate">03-11</div>
        </div>
    </section>
    <section>
        <div class="head">现在全球疫情这么严重，新冠病毒奥密克戎变异毒株会怎样演化（变异）？</div>
        <div class="content hide">
            <div>匿名用户：你以为的变异：奥密克戎在美国感染完两亿人，然后玩家点了致死性，两亿病人身上的奥密克戎秒变欧米伽，然后死了一亿八。实际上的变异：奥密克戎</div>
        </div>
        <div class="read">阅读全文 ﹀</div>
        <div class="bottom">
            <button class="like loginBtn">赞同<span class="has_like">1</span></button>
            <button class="dislike loginBtn"></button>
            <button class="comment">添加评论</button>
            <div class="releaseDate">04-01</div>
        </div>
    </section>
    <section>
        <div class="head">苏州发现奥密克戎新变种，与全球已知毒株均不同源，可能会对疫情产生哪些影响？</div>
        <div class="content hide">
            <div>圣光出鞘：说国内没有变异条件的，与苏州接壤的上海，奥密克戎已经传播几万次了。没事，你们就整活吧，迟早整出来个大活。</div>
        </div>
        <div class="read">阅读全文 ﹀</div>
        <div class="bottom">
            <button class="like loginBtn">赞同<span class="has_like">1</span></button>
            <button class="dislike loginBtn"></button>
            <button class="comment">添加评论</button>
            <div class="releaseDate">04-01</div>
        </div>
    </section>
    <section>
        <div class="head">“奥密克戎”变异株引全球警惕澳大利亚人照旧抗议，街头人山人海</div>
        <div class="content hide">
            <div>新冠变异毒株Omicron（奥密克戎）引发全球警惕之际，澳大利亚多地依然在举行抗议。当地时间27日，上千名抗议者聚集在墨尔本市中心示威，反对政府的疫苗接种政策。当天，西澳大利亚州、悉尼和黄金海岸也举行了类似的抗议活</div>
            <img src="../imgs/video2.png">
        </div>
        <div class="read">阅读全文 ﹀</div>
        <div class="bottom">
            <button class="like loginBtn">赞同<span class="has_like">1</span></button>
            <button class="dislike loginBtn"></button>
            <button class="comment">添加评论</button>
            <div class="releaseDate">03-11</div>
        </div>
    </section>

    <button class="return"></button>

</main>
<form action="/zhihu/index.html" method="POST">
    <div class="mask"></div>
    <div class="model">
    <div class="passwordLogin">密码登录</div>
    <input class="logonName" type="text" placeholder="手机号或邮箱" name="phoneAndEmail">
    <input class="loginPwd" type="password" placeholder="密码" name="pwd">
    <button class="enter" type="submit">注册/登录</button>
    <div class="intro">未注册手机验证后自动登录，注册即代表同意《知乎协议》《隐私保护指引》</div>
    <img class="close" src="../imgs/download.jpg">
    </div>
</form>

<script src="../js/index.js"></script>
<script src="../js/login.js"></script>
</body>
</html>