<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>知乎-有问题，就有答案</title>
    <link rel="stylesheet"  href="../css/index.css" />
    <link rel="stylesheet"  href="../css/other.css" />
</head>
<body>
<header class="top">
    <div class="head">知乎</div>
    <div class="classification">
        <div>首页</div>
        <div>会员</div>
        <div>发现</div>
        <div>等你来答</div>
    </div>

    <div class="search">
        <input type="text" class="search-content" >
        <button class="search-icon">
            <img src="../imgs/search.png">
        </button>
        <ul>
        </ul>
    </div>

    <div class="accessibility">无障碍</div>

    <button class="login loginBtn">登录</button>

</header>
<header class="bottom">
    <ul>
        <li>综合</li>
        <li>用户</li>
        <li>话题</li>
        <li>视频</li>
        <li>学术</li>
        <li>专栏</li>
        <li>严选内容</li>
        <li>电子书</li>
        <li>圈子</li>
    </ul>
    <div class="screen">筛选</div>
</header>

<nav>
    <div class="searchDiscovery">搜索发现</div>
    <ul class="recommend">
        <li>法国 2022 年总统选举一轮投票</li>
        <li>2022五一放假调休共 5 天</li>
        <li>四川航空回应飞行员发布仇恨言论</li>
        <li>11日起广州中小学停课停考</li>
        <li>中美疾控中心专家发布香港死亡病例数据</li>
        <li>民航局回应东航坠机传言</li>
        <li>昆明新增 1 例系专升本考试学生</li>
        <li>上海最大家用氧企业停产</li>
        <li>微信农场</li>
        <li>面包车撞兰博基尼被起诉</li>
    </ul>
</nav>

<aside>
    <ul>
        <li>刘看山知乎指南知乎协议知乎隐私保护指引</li>
        <li>应用工作</li>
        <li>侵权举报网上有害信息举报专区</li>
        <li>京 ICP 证 110745 号</li>
        <li>京 ICP 备 13052560 号 - 1</li>
        <li>京公网安备 11010802020088 号</li>
        <li>互联网药品信息服务资格证书</li>
        <li>（京） - 非经营性 - 2017 - 0067</li>
        <li>服务热线：400-919-0001</li>
        <li>举报邮箱：jubao@zhihu.com</li>
        <li>儿童色情信息举报专区</li>
        <li>信息安全漏洞举报专区</li>
        <li>内容从业人员违法违规行为举报</li>
        <li>证照中心Investor Relations</li>
        <li>联系我们 @2022 知乎</li>
    </ul>

</aside>

<aside class="old">
    <button></button>
</aside>

<main>

    <div class="notFound">
        <img src="../imgs/notFound.png">
        <div class="text"></div>
    </div>

    <button class="return"></button>

</main>
<form>

</form>

<script src="../js/index.js"></script>
</body>
</html>